`brew services start postgresql`でpostgresqlを開始

`brew services stop postgresql`でpostgresqlを停止

In [1]:
import pandas as pd
import psycopg2

In [2]:
conn = psycopg2.connect(
    dbname="main-app",
)
df_answers = pd.read_sql_query("SELECT * FROM main_app_answers", conn, index_col="id")
df_kinds = pd.read_sql_query("SELECT * FROM main_app_kinds", conn)
df_modelnames = pd.read_sql_query("SELECT * FROM main_app_modelnames", conn)
df_respondents = pd.read_sql_query("SELECT * FROM main_app_respondents", conn)
df_samplenames = pd.read_sql_query("SELECT * FROM main_app_samplenames", conn)
df_speakernames = pd.read_sql_query("SELECT * FROM main_app_speakernames", conn)
conn.close()

df_kinds = df_kinds.rename(columns={"id": "kind_id"})
df_modelnames = df_modelnames.rename(columns={"id": "model_name_id"})
df_respondents = df_respondents.rename(columns={"id": "respondent_id"})
df_samplenames = df_samplenames.rename(columns={"id": "sample_name_id"})
df_speakernames = df_speakernames.rename(columns={"id": "speaker_name_id"})

df_answers = df_answers.merge(df_kinds, on=["kind_id"], how="inner")
df_answers = df_answers.merge(df_modelnames, on=["model_name_id"], how="inner")
df_answers = df_answers.merge(df_respondents, on=["respondent_id"], how="inner")
df_answers = df_answers.merge(df_samplenames, on=["sample_name_id"], how="inner")
df_answers = df_answers.merge(df_speakernames, on=["speaker_name_id"], how="inner")

OperationalError: connection to server on socket "/tmp/.s.PGSQL.5432" failed: No such file or directory
	Is the server running locally and accepting connections on that socket?

In [ ]:
df_answers.head(5)

,naturalness,intelligibility,kind_id,model_name_id,respondent_id,sample_name_id,speaker_name_id,kind,model_name,created_at,name,sex,age,sample_name,speaker_name
0,2,1,3,2,2,1,2,abs,2023_12_03_03-47-15,2024-03-11 14:46:05.437194+00:00,cb5a979b-ec85-4534-8f19-da68380509d2,N,15,ATR503_j01,F01_kablab
1,3,1,2,2,2,1,2,generate,2023_12_03_03-47-15,2024-03-11 14:46:05.437194+00:00,cb5a979b-ec85-4534-8f19-da68380509d2,N,15,ATR503_j01,F01_kablab
2,2,4,1,2,2,1,2,gt,2023_12_03_03-47-15,2024-03-11 14:46:05.437194+00:00,cb5a979b-ec85-4534-8f19-da68380509d2,N,15,ATR503_j01,F01_kablab
3,3,5,3,2,2,5,2,abs,2023_12_03_03-47-15,2024-03-11 14:46:05.437194+00:00,cb5a979b-ec85-4534-8f19-da68380509d2,N,15,ATR503_j02,F01_kablab
4,1,3,2,2,2,5,2,generate,2023_12_03_03-47-15,2024-03-11 14:46:05.437194+00:00,cb5a979b-ec85-4534-8f19-da68380509d2,N,15,ATR503_j02,F01_kablab